doctype html
html
  head
    title Chandni Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
     ul 
       div#logo
        img(src='/static/image3.png')
        | CDA
       li #[a(href ='/') Home]
       li #[a(href = '/') About]
       li #[a(href = '/') Services] 
       li #[a(href = '/') Class info]
       li #[a(href = '/contact') Contact us]
    block content
    footer#footer 
      | Copyright2023 © ChandniDanceAcademy.com | All rights reserved

      