//- Html to pug websites convert html to pug

doctype html
html
  head
    title Chandni Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar 
       ul 
         div#logo
           img(src='/static/image3.png')
           | CDA
         li #[a(href ='/') Home]
         li #[a(href = '/') About]
         li #[a(href = '/') Services] 
         li #[a(href = '/') Class info]
         li #[a(href = '/') Contact us]

    section#introSection 
        div  Welcome to Chandni's dance academy  
        div.small  Eat Dance sleep repeat

    section#missionSection
        h3 Our missions

        div.card
            h4 This is a para
            div.card-box
              div.card-img
                img(src="/static/image1.png")
              div.card-content
                p This is the best dance academy of the universe
        div.card
            h4 This is a para
            div.card-box
              div.card-img
                img(src="/static/image5.jpeg")
              div.card-content
                p This is the best dance academy of the universe
        div.card
            h4 This is a para
            div.card-box
              div.card-img
                img(src="/static/image2.png")
              div.card-content
                p This is the best dance academy of the universe

    section#sponsorSection 
        h3 Our sponsors 
        div#sponsor
            img(src="/static/logo1.png", alt="Sponsor image", class="spImage")
            img(src="/static/logo2.png", alt="Sponsor image", class="spImage")
            img(src="/static/logo3.png", alt="Sponsor image", class="spImage")
            img(src="/static/logo4.png", alt="Sponsor image", class="spImage")

    footer#footer 
        |  Copyright2023 © ChandniDanceAcademy.com | All rights reserved

    script
      include ../static/index.js